[Unit]
Description=Camera service

[Service]
User=pi
Group=pi
ExecStart=/home/pi/.pyenv/versions/3.7.11/envs/nanny/bin/python stream_camera.py

[Install]
WantedBy=multi-user.target
